<!DOCTYPE html>
<html lang="en">
<head>
    <% include layouts/head.ejs %>
</head>
<body>
<% include layouts/header.ejs %>
<% if (error.length >0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if (success.length >0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<h2>Forgot Password</h2>
<form role="form" action="/forgot" method="POST">
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
<% include layouts/footer.ejs %>
</body>
</html>